---
import type { GetStaticPaths } from "astro"
import { CollectionEntry,getCollection } from "astro:content"
import InfoCard from "~/components/InfoCard.astro"
import BaseLayout from "~/layouts/BaseLayout.astro"
import { Icon } from "~/partials/widgets/icons"


export interface Props {
  entry: CollectionEntry<"docs">
}

export const getStaticPaths = (async () => {
  const entries = await getCollection("docs")

  return entries.map(entry => ({
    params: { documentSlug: entry.slug },
    props: { entry },
  }))
}) satisfies GetStaticPaths

const { entry } = Astro.props
const { lang, title, images } = entry.data

const { Content } = await entry.render()

const meta = {
  lang,
  title: `${title} - Castro Maciel`,
  description: 'Here i&apos;ve wrote about a bit of all. Like blog posts, design patterns, maths, notes of university, etc..'
}
---

<BaseLayout {...meta}>
  <section>

    {images && (
      <div>
        <img src={images.src} alt={images.alt} />
        <small>{images.description}</small> 
      </div>
    )}

    <Content />

    <InfoCard {...entry.data} />

    <a href='../' class="back-link">
      <Icon type="back" client:load />
      <span>go back</span>
    </a>
    </section>
</BaseLayout>


<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  
  pre {
    padding: 1rem 0rem 1rem 1rem;
    border-radius: 8px;
  }
  pre code {
    line-height: 1.45;
  }

  code,
  code span {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 0.9rem;
    line-height: 1.45;
  }

  .back-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .inline-code {
    background: hsla(261, 40%, 21%, 1);
    color: var(--text-color);
  }

  h3 .inline-code {
    font-size: 1.35rem;
  }

</style>