pre {
  text-align: left;
  white-space: pre !important;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  overflow: auto;
}
