---
import ActiveLink from "~/components/ActiveLink.astro";
import { NAV_ITEMS } from "~/constants";
import { isActivePath } from "~/utils";

const { pathname } = Astro.url;
---
<nav>
  <ul>
    {
      NAV_ITEMS.map(({ label, path }) => (
        <li id={label}>
          <a href={path} title={label}>
            {
              isActivePath(pathname, path)
              ? <ActiveLink label={label} />
              : label
            }
          </a>
        </li>
      ))
    }
    <li>
      <a href="/static/CastroMaciel_en_cv.pdf" target="_blank">
        resume
      </a>
    </li>
  </ul>
</nav>
