---
import ActiveLink from "~/components/ActiveLink.astro";
import { navItems } from "~/constants";

const { pathname } = Astro.url;
---
<nav>
  <ul>
    {
      navItems.map(({ label, path }) => (
        <li>
          <a href={path} title={label}>
            {
              pathname === path
              ? <ActiveLink label={label}/>
              : label
            }
          </a>
        </li>
      ))
    }
    <li>
      <a href="/static/CastroMaciel_en_cv.pdf">
        resume
      </a>
    </li>
  </ul>
</nav>
