---
import { OTHER_LINKS } from "~/constants";
---
<footer>
  <nav>
    Iteresting links:
    <ul>
      {
        OTHER_LINKS.map(({ label, path }) => (
          <li>
            <a href={path} target="_blank" rel="noreferrer">{label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>