---
export const SOCIAL_LINKS = [
  {
    label: 'github',
    path: 'https://github.com/castromaciel'
  },
  {
    label: 'linkedIn',
    path: 'https://www.linkedin.com/in/castromaciel-00/'
  }
]
---
<footer>
  <nav>
    Social Links:
    <ul>
      {
        SOCIAL_LINKS.map(({ label, path }) => (
          <li>
            <a href={path} target="_blank" rel="noreferrer">{label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>