---
import { SOCIAL_LINKS } from "~/constants";
---
<footer>
  <nav>
    Social Links:
    <ul>
      {
        SOCIAL_LINKS.map(({ label, path }) => (
          <li>
            <a href={path} target="_blank" rel="noreferrer">{label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>