---
import PagesLayout from "~/layouts/PagesLayout.astro";

const meta = { 
  title: 'Error 404 - Castro Maciel'
}
---


<PagesLayout {...meta}>
  <section>
    <h1>404 not found</h1>
    <a href="/">Go back home</a>
  </section>
</PagesLayout>