---
import BaseLayout from "~/layouts/BaseLayout.astro";

const meta = { 
  title: 'Error 404 - Castro Maciel'
}
---


<BaseLayout {...meta}>
  <section>
    <h1>404 not found</h1>
    <a href="/">Go back home</a>
  </section>
</BaseLayout>