---
import { SITE } from "~/config.mjs";
import BaseLayout from "~/layouts/BaseLayout.astro";

const meta = { 
  title: 'About me - Castro Maciel',
  description: SITE.description
}
---

<BaseLayout {...meta}>
  <section>
    <p>Hey there 👋🏼,</p>
    <h1>I&apos;m Maciel Castro</h1>
    <h2>MERN Fullstack Developer - Informatic Engineering Student</h2>

    <p>
      Currently, I am located in the province of Tucumán, Argentina. I work remotely as a Frontend Developer at <a href="https://www.iuvity.com/en" target="_blank" rel="noreferrer">Iuvity</a>, where I contribute to the development of web and mobile applications for banking institutions.
    </p>
    <p>
      Additionally, I hold the role of Code Reviewer at Rolling Code, where I collaborate to maintain high-quality code standards for students. On my academic journey, I am studying Informatic Engineering at the Universidad Nacional de Tucuman (UNT), where I am building a strong foundation in computer science.
    </p>
    <img src="/images/me.JPG" alt="Maciel Castro"/>

  </section>
</BaseLayout>

<style>
  h1, h2 {
    margin-top: 0rem;
  }
</style>
