---
import BaseLayout from "~/layouts/BaseLayout.astro";

const meta = { 
  title: 'Contact - Castro Maciel'
}
---

<BaseLayout {...meta}>
  <section>
    <h1>Contact me</h1>
    <p>Stay in touch with me, we can work and collaborate in interesting projects 📲</p>
    <ul>
      <li>
        <p>
          <strong>
            <em>Email: </em>
          </strong>
          {' '}
          you can send me an email at 
          {' '}
          <em>castromaciel00 at gmail dot com.</em>
        </p>
      </li>
      <li>
        <p>
          <a href="https://github.com/castromaciel" target="_blank" rel="noreferrer">github</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.linkedin.com/in/castromaciel-00/" target="_blank" rel="noreferrer">linkedIn</a>
        </p>
      </li>
      <li>
        <p>
          <a href="https://www.instagram.com/castromaciellr/" target="_blank" rel="noreferrer">instagram</a>
        </p>
      </li>
    </ul>
    <p>
      If you want more professional information, you can see my
      {' '}
      <a href="/static/castro_maciel_cv.pdf" target="_blank">resume.</a>
    </p>
    <br />
    <br />
    <br />
  </section>
</BaseLayout>
