---
import ProjectCard from "~/components/ProjectCard.astro";
import { PROJECT_LINKS } from "~/constants";
import BaseLayout from "~/layouts/BaseLayout.astro";

const meta = { 
  title: 'My work - Castro Maciel'
}
---

<BaseLayout {...meta}>
    
  <section>
    <h1>My work</h1>
    <h2>Projects</h2>
    <p>Open the url to see the projects:</p>
    {
      PROJECT_LINKS.map((project) => (
        <ProjectCard {...project} />
      ))
    }
  </section>

</BaseLayout>
