---
import { HOME_ITEMS } from "~/constants";

---

<section>
  <nav>
    <center>
      <h1>Castro Maciel&apos;s Blog</h1>
      <h2>
        {
          HOME_ITEMS.map(({ href, target, title }) => (
            <p>
              <a href={href} title={title} target={target}>
                {title}
              </a>
            </p>
          ))
        }
      </h2>
    </center>
  </nav>
  <br />
  <br />
  <br />
</section>
