---
import '~/styles/layout.scss';
import Themes from 'astro-themes';
import { ViewTransitions } from 'astro:transitions';
import MetaTags from '~/core/MetaTags.astro';
import Scripts from '~/core/Scripts.astro';
import Navbar from '~/partials/widgets/Navbar.astro';
import SocialLinks from '~/partials/widgets/SocialLinks.astro';

const meta = Astro.props;
const { lang = 'en' } = Astro.props;

const { pathname } = Astro.url
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <Themes />
    <MetaTags {...meta} />
    <ViewTransitions />
  </head>
  <body>
    { pathname !== '/' && <Navbar /> }

    <slot />

    <SocialLinks />
    <Scripts />
  </body>
</html>
