---
import MetaTags from "~/core/MetaTags.astro";
import '~/styles/layout.scss';

const {meta = {}} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags {...meta}/>
  </head>
  <body>

    <slot />

  </body>
</html>
