div nav ul li a {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 400;
}

footer nav ul li a {
  font-size: 18px;
}

small,
small a {
  font-size: 14px !important;
}

blockquote {
  border-left: 2.16px solid #595959;
  padding: 4.5px 18px 4.5px 15.84px;
}

body {
  color: var(--font-color);
  background: var(--bg-color);
  padding: 36px;
}

h1, h2, h3, h4 {
  color: var(--font-color);
}

a {
  color: var(--link-color);
}

button {
  all: unset;
  background: transparent !important;
  cursor: pointer;

  &:hover {
    cursor: pointer;
    color: var(--color-button-hover)
  }
}

@media(prefers-color-scheme: dark) {
	body {
    color: var(--font-color);
    background: var(--bg-color);
    padding: 36px;
  }

  h1, h2, h3, h4 {
    color: var(--font-color);
  }
  
  a {
    color: var(--link-color);
  }

  button {
    all: unset;
    background: transparent !important;
    cursor: pointer;
  
    &:hover {
      cursor: pointer;
      color: var(--color-button-hover)
    }
  }
}
